* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(./img/intro-page.png);
  background-size: cover;
  font-family: "karla";
}

.starting-pag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.starting-pag h1 {
  margin-top: 220px;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

.starting-pag p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #293264;
}

.App button {
  margin-top: 55px;

  width: 193px;
  height: 52px;
  background-color: #4d5b9e;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f5f7fb;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.questions button {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
}

.questions {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  color: #293264;
}

.answer {
  padding: 5px;
  border: 0.794239px solid #4d5b9e;
  box-sizing: border-box;
  border-radius: 7.94239px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #293264;
  margin-right: 13px;
}

.selected {
  background: #d6dbf5;
}

.answers input {
  display: none;
}

.answers .check {
  opacity: 0.5;
}

.answers .correct {
  background: #94d7a2;
  opacity: 1;
}

.incorrect {
  background: #f8bcbc;
}

.questions {
  display: flex;
  flex-direction: column;
  margin: 25px 75px;
}

.questions button {
  align-self: center;
}

.question {
  padding-top: 15px;
}

.answers {
  border-bottom: 0.794239px solid #dbdef0;
  padding-bottom: 15px;
}

footer {
  display: flex;
  align-items: baseline;
}

footer h2 {
  margin: 60px 30px 0 0;
}
